#giro3d-loader span {
  display: inline-block;
  color: #404e73;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  animation: colorchange 1s infinite alternate ease-in-out;
}
#giro3d-loader .c2 {
  animation-delay: 0.1s;
}
#giro3d-loader .c3 {
  animation-delay: 0.2s;
  margin-left: -0.12em;
}
#giro3d-loader .c4 {
  animation-delay: 0.3s;
}
#giro3d-loader .c5 {
  animation-delay: 0.4s;
}
#giro3d-loader .c6 {
  animation-delay: 0.5s;
}

@keyframes colorchange {
  100% {
    color: #404e73;
    transform: translate(0, 0);
  }
  50% {
    color: #404e73;
    transform: translate(0, 0);
  }
  30% {
    color: #7ea8c5;
    transform: translate(0, -0.15em);
  }
  0% {
    color: #404e73;
    transform: translate(0, 0em);
  }
}
#giro3d-loader {
  z-index: 1000;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 5em;
}
