---
title: Add / Remove layers
shortdesc: Add and remove layers in a Map.
longdesc: Use the <a target="_blank" href="../apidoc/classes/entities.Map.html#addLayer"><code>addLayer()</code></a> and <a target="_blank" href="../apidoc/classes/entities.Map.html#removeLayer"><code>removeLayer()</code></a> methods to add and remove layers in a Map.
attribution: Map style by <a target="_blank" href="https://stamen.com/">Stamen Design</a>, © OpenStreetMap contributors
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <h5 class="card-header">Add / Remove</h5>

        <!-- tooltip -->
        <span
            class="badge bg-secondary position-absolute top-0 end-0 m-2"
            data-bs-toggle="popover"
            data-bs-content="tooltip"
            >?</span
        >

        <p class="card-text d-none" id="tooltip">Toggling a layer removes / adds it to the map.</p>

        <div class="card-body">
            <fieldset class="container m-1">
                <div class="form-check form-switch">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        checked="true"
                        role="switch"
                        id="plan"
                        autocomplete="off"
                    />
                    <label class="form-check-label" for="plan">Plan</label>
                </div>
                <div class="form-check form-switch">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        checked="true"
                        role="switch"
                        id="orthophotos"
                        autocomplete="off"
                    />
                    <label class="form-check-label" for="orthophotos">Orthophoto</label>
                </div>
                <div class="form-check form-switch">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        checked="true"
                        role="switch"
                        id="terrain"
                        autocomplete="off"
                    />
                    <label class="form-check-label" for="terrain">Terrain</label>
                </div>
            </fieldset>
        </div>
    </div>
</div>
