---
title: Custom controls
shortdesc: Uses yomotsu/camera-controls with keyboard events, orbiting on right-click and custom Inspector pane
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
dependencies: ['camera-controls']
---

<!-- Screenshot's icon from Lucide: https://github.com/lucide-icons/lucide -->
<div class="side-pane-with-status-bar">
    <button class="btn btn-primary" id="animate">Animate</button>
</div>
