---
title: Elevation COG
shortdesc: Display an elevation COG with a color map.
longdesc: A COG that contains elevation data in 32-bit floating point values. You can visualize the dataset in the following ways&#58; as an elevation layer with or without a color map, as a color layer compressed to 8-bit using <a href="../apidoc/classes/core.layer.Interpretation.html#CompressTo8Bit" target="_blank"><code>Interpretation.CompressTo8Bit</code></a>, and as a color layer with a <a href="../apidoc/classes/core.layer.ColorMap.html" target="_blank"><code>ColorMap</code></a>.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
dependencies: ['colormap']
---

<div class="side-pane-with-status-bar">
    <!-- Top color layer -->
    <div class="card">
        <div class="card-body">
            <div class="input-group">
                <span class="input-group-text flex-grow-1">Read COG as</span>
                <select class="btn btn-outline-primary btn-sm" id="mode" autocomplete="off">
                    <option selected value="elevation">Elevation layer</option>
                    <option value="elevation-colormap">Elevation layer (with colormap)</option>
                    <option value="8bit">Color layer (compressed to 8-bit)</option>
                    <option value="colormap">Color layer (with colormap)</option>
                </select>
            </div>
        </div>
    </div>
</div>
