---
title: No-data elimination after reprojection
shortdesc: Illustrates no-data elimination at the edges of a dataset after reprojection.
longdesc: The shown dataset does not have any no-data pixels. However, reprojecting it to a different CRS leaves empty areas at the edge, which become no-data areas. This example checks that those new no-data areas are correctly handled by the no-data filling algorithm.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
dependencies: ['colormap']
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-header">Options</div>

        <div class="card-body" id="options">
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="enableFillNoData"
                    autocomplete="off"
                />
                <label class="form-check-label" for="enableFillNoData">Hide no-data pixels</label>
            </div>
        </div>
    </div>
</div>
