---
title: Colorized 3D Tiles Point Cloud
shortdesc: Colorize a point cloud with various modes (native colors, color layer, elevation gradient...).
longdesc: Point clouds can be colorized from different methods &#58; using the original color in the point cloud, coloring using an elevation gradient, or coloring using an external image source, such as a WMS layer.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
dependencies: ['colormap']
---

<div class="side-pane-with-status-bar">
    <!-- Top color layer -->
    <div class="card">
        <div class="card-header">Options</div>

        <div class="card-body" id="top-options">
            <!-- Coloring mode -->
            <div class="input-group">
                <span class="input-group-text flex-grow-1">Mode</span>
                <select
                    class="btn btn-outline-primary btn-sm"
                    id="pointcloud_mode"
                    autocomplete="off"
                >
                    <option value="0">point cloud colors</option>
                    <option value="5">elevation gradient</option>
                    <option value="4" selected>color layer</option>
                </select>
            </div>

            <!-- Color ramp -->
            <div class="d-none my-2" id="colormapGroup">
                <div class="input-group">
                    <span class="input-group-text flex-grow-1">Color ramp</span>
                    <select class="btn btn-outline-primary btn-sm" id="colormap" autocomplete="off">
                        <option value="viridis" selected>Viridis</option>
                        <option value="jet">Jet</option>
                        <option value="blackbody">Blackbody</option>
                        <option value="earth">Earth</option>
                        <option value="bathymetry">Bathymetry</option>
                        <option value="magma">Magma</option>
                        <option value="par">Par</option>
                    </select>
                </div>

                <div class="input-group my-2">
                    <label for="min" class="form-label" id="minLabel">Lower bound: 100m</label>
                    <div class="input-group">
                        <input
                            type="range"
                            min="0"
                            max="1000"
                            value="100"
                            class="form-range"
                            id="min"
                            autocomplete="off"
                        />
                    </div>
                </div>

                <div class="input-group my-2">
                    <label for="max" class="form-label" id="maxLabel">Upper bound: 600m</label>
                    <div class="input-group">
                        <input
                            type="range"
                            min="0"
                            max="1000"
                            value="600"
                            class="form-range"
                            id="max"
                            autocomplete="off"
                        />
                    </div>
                </div>
            </div>

            <!-- Opacity -->
            <div class="input-group my-2">
                <label for="opacity" class="form-label" id="opacityLabel"
                    >Point cloud opacity: 100%</label
                >
                <div class="input-group">
                    <input
                        type="range"
                        min="0"
                        max="1"
                        step="0.05"
                        value="1"
                        class="form-range"
                        id="opacity"
                        autocomplete="off"
                    />
                </div>
            </div>

            <!-- Activate EDL -->
            <div class="input-group my-2">
                <div>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            checked
                            type="checkbox"
                            role="switch"
                            id="edl-enable"
                            autocomplete="off"
                        />
                        <label class="form-check-label" for="edl-enable"
                            >Eye dome lighting (EDL)</label
                        >
                    </div>
                </div>
            </div>

            <!-- EDL intensity -->
            <div class="input-group my-2">
                <label for="edl-intensity" class="form-label">EDL intensity</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="0"
                        step="0.05"
                        max="2"
                        value="0.7"
                        class="form-range"
                        id="edl-intensity"
                        autocomplete="off"
                    />
                </div>
            </div>

            <!-- EDL radius -->
            <div class="input-group my-2">
                <label for="edl-radius" class="form-label">EDL radius</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="0.1"
                        step="0.05"
                        max="5"
                        value="1.5"
                        class="form-range"
                        id="edl-radius"
                        autocomplete="off"
                    />
                </div>
            </div>

            <!-- Activate occlusion -->
            <div class="input-group my-2">
                <div>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            checked
                            type="checkbox"
                            role="switch"
                            id="occlusion-enable"
                            autocomplete="off"
                        />
                        <label class="form-check-label" for="occlusion-enable"
                            >Point occlusion effect</label
                        >
                    </div>
                </div>
            </div>

            <!-- Activate inpainting -->
            <div class="input-group my-2">
                <div>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            checked
                            type="checkbox"
                            role="switch"
                            id="inpainting-enable"
                            autocomplete="off"
                        />
                        <label class="form-check-label" for="inpainting-enable">Inpainting</label>
                    </div>
                </div>
            </div>

            <!-- Inpainting steps -->
            <div class="input-group my-2">
                <label for="inpainting-steps" class="form-label">Inpainting steps</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="1"
                        step="1"
                        max="10"
                        value="2"
                        class="form-range"
                        id="inpainting-steps"
                        autocomplete="off"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
