---
title: Contour lines
shortdesc: A map with elevation contour lines
longdesc: Contour lines can be enabled on Map entities to visualize relief. Change line intervals, opacity, thickness and color, as well as opacity. Note that on very flat surfaces, contour lines can produce artifacts where their displayed thickness is greater than desired.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
dependencies: ['colormap']
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-header">
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="contourLineCheckbox"
                    autocomplete="off"
                />
                <label class="form-check-label" for="contourLineCheckbox">Contour lines</label>
            </div>
        </div>

        <div class="card-body">
            <fieldset class="container" id="options">
                <div class="input-group my-2">
                    <span class="input-group-text flex-grow-1">Main interval (m)</span>
                    <select
                        class="btn btn-outline-primary btn-sm"
                        id="mainInterval"
                        autocomplete="off"
                    >
                        <option value="0">Disabled</option>
                        <option selected value="100">100 m</option>
                        <option value="200">200 m</option>
                        <option value="400">400 m</option>
                    </select>
                </div>

                <div class="input-group my-2">
                    <span class="input-group-text flex-grow-1">Secondary interval (m)</span>
                    <select
                        class="btn btn-outline-primary btn-sm"
                        id="secondaryInterval"
                        autocomplete="off"
                    >
                        <option value="0">Disabled</option>
                        <option selected value="10">10 m</option>
                        <option selected value="20">20 m</option>
                        <option value="50">50 m</option>
                    </select>
                </div>

                <label for="opacitySlider" class="form-label">Opacity</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="0"
                        max="1"
                        value="1"
                        step="0.05"
                        class="form-range"
                        id="opacitySlider"
                        autocomplete="off"
                    />
                </div>

                <label for="thicknessSlider" class="form-label">Thickness</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="0"
                        max="2"
                        value="1"
                        step="0.05"
                        class="form-range"
                        id="thicknessSlider"
                        autocomplete="off"
                    />
                </div>
            </fieldset>
        </div>
    </div>
</div>
