---
title: Reprojection of features as mesh
shortdesc: Display a map in EPGS:2154 with geojson as mesh in various CRS, showing reprojection capabilities of FeatureCollection
attribution: © <a target="_blank" href="https://opendata.paris.fr/">Paris Data</a>
---

<div class="side-pane-with-status-bar" style="min-height: 9rem">
    <div class="card">
        <h5 class="card-header">Information</h5>

        <!-- tooltip -->
        <span
            class="badge bg-secondary position-absolute top-0 end-0 m-2"
            data-bs-toggle="popover"
            data-bs-content="tooltip"
            >?</span
        >

        <p class="card-text d-none" id="tooltip">Some informations embedded in the GeoJSON</p>

        <div class="card-body pe-none">
            <!-- Result table -->
            <div id="results"></div>
        </div>
    </div>
</div>
