---
title: Graticule
shortdesc: Display a graticule on a Map.
longdesc: The <a href="../apidoc/classes/entities.Map.html" target="_blank"><code>Map</code></a> can display a fully configurable graticule.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
dependencies: ['colormap']
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-body">
            <!-- Show/Hide graticule -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="toggle-graticule"
                    autocomplete="off"
                />
                <label class="form-check-label" for="toggle-graticule">Show graticule</label>
            </div>

            <div class="my-2"></div>

            <!-- X step -->
            <label for="x-step" class="form-label">X-axis step</label>
            <div class="input-group">
                <input
                    type="range"
                    min="100"
                    max="3000"
                    value="1000"
                    step="100"
                    class="form-range"
                    id="x-step"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Y step -->
            <label for="y-step" class="form-label">Y-axis step</label>
            <div class="input-group">
                <input
                    type="range"
                    min="100"
                    max="3000"
                    value="1000"
                    step="100"
                    class="form-range"
                    id="y-step"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- X offset -->
            <label for="x-offset" class="form-label">X-axis offset</label>
            <div class="input-group">
                <input
                    type="range"
                    min="100"
                    max="3000"
                    value="200"
                    step="100"
                    class="form-range"
                    id="x-offset"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Y offset -->
            <label for="y-offset" class="form-label">Y-axis offset</label>
            <div class="input-group">
                <input
                    type="range"
                    min="100"
                    max="3000"
                    value="200"
                    step="100"
                    class="form-range"
                    id="y-offset"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Opacity -->
            <label for="opacity" class="form-label">Opacity</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="1"
                    value="1"
                    step="0.01"
                    class="form-range"
                    id="opacity"
                    autocomplete="off"
                />
            </div>

            <!-- Thickness -->
            <label for="thickness" class="form-label">Thickness</label>
            <div class="input-group">
                <input
                    type="range"
                    min="1"
                    max="100"
                    value="20"
                    step="1"
                    class="form-range"
                    id="thickness"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Color dropdown -->
            <div class="input-group">
                <span class="input-group-text flex-grow-1">Color</span>
                <select class="btn btn-outline-primary btn-sm" id="color" autocomplete="off">
                    <option selected value="white">White</option>
                    <option value="black">Black</option>
                    <option value="yellow">Yellow</option>
                    <option value="red">Red</option>
                </select>
            </div>
        </div>
    </div>
</div>
