---
title: Hillshading & terrain
shortdesc: Enable hillshading and set sunlight azimuth and angle, as well as terrain deformation.
longdesc: Hillshading is a realistic shading technique that uses elevation data to simulate the sunlight behaviour. You can change the sun rays' orientation (azimuth) and slope (zenith). Terrain deformation can be toggled on and off. If toggled off, the map is displayed as a flat surface, while still retaining shading capabilities. Terrain stitching is a rendering technique that reduces cracks and visible seams at the boundary between neighbouring terrain tiles. Disabling stitching can improve performance at the cost of increased visual artifacts.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-header">Terrain rendering</div>

        <div class="card-body">
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="terrainDeformation"
                    autocomplete="off"
                />
                <label class="form-check-label" for="terrainDeformation">Terrain deformation</label>
            </div>

            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="terrainStitching"
                    autocomplete="off"
                />
                <label class="form-check-label" for="terrainStitching">Terrain stitching</label>
            </div>

            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="hillshadingCheckbox"
                    autocomplete="off"
                />
                <label class="form-check-label" for="hillshadingCheckbox">Hillshading</label>
            </div>

            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="colorLayers"
                    autocomplete="off"
                />
                <label class="form-check-label" for="colorLayers">Shade color layers</label>
            </div>

            <label for="azimuthSlider" class="form-label">Azimuth (0 - 360)</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="360"
                    value="315"
                    class="form-range"
                    id="azimuthSlider"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <label for="zenithSlider" class="form-label">Zenith (0 - 90)</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="90"
                    value="45"
                    class="form-range"
                    id="zenithSlider"
                    autocomplete="off"
                />
            </div>

            <label for="intensitySlider" class="form-label">Intensity</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="1"
                    value="1"
                    step="0.1"
                    class="form-range"
                    id="intensitySlider"
                    autocomplete="off"
                />
            </div>

            <label for="zFactorSlider" class="form-label">Z-factor</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="10"
                    value="1"
                    step="0.1"
                    class="form-range"
                    id="zFactorSlider"
                    autocomplete="off"
                />
            </div>

            <label for="opacitySlider" class="form-label">Color layer opacity</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="100"
                    value="100"
                    class="form-range"
                    id="opacitySlider"
                    autocomplete="off"
                />
            </div>
        </div>
    </div>
</div>
