---
title: IGN data
shortdesc: Display a map of France with various IGN datasets (elevation, extruded WFS and orthophotography).
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
---

<div class="side-pane-with-status-bar pe-none">
    <div class="card">
        <h5 class="card-header">Building informations</h5>

        <!-- tooltip -->
        <span
            class="badge bg-secondary position-absolute top-0 end-0 m-2"
            data-bs-toggle="popover"
            data-bs-content="pickingHelper"
            >?</span
        >
        <p class="card-text d-none" id="pickingHelper">
            These informations are the feature properties embedded in the return value from the WFS
            server
        </p>

        <div class="card-body">
            <!-- Result table -->
            <div id="results"></div>
        </div>
    </div>
</div>
