---
title: Color layer stress test
shortdesc: Stress test a map with many color layers.
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-header">Parameters</div>

        <div class="card-body">
            <div class="mb-3">
                <label for="layerCount" class="form-label">Color layer count</label>
                <div class="input-group">
                    <input
                        type="number"
                        min="0"
                        max="100"
                        autocomplete="off"
                        value="8"
                        class="form-control"
                        id="layerCount"
                    />
                </div>
            </div>

            <div class="form-check form-switch mb-3">
                <input
                    class="form-check-input"
                    type="checkbox"
                    autocomplete="off"
                    role="switch"
                    id="forceAtlases"
                />
                <label class="form-check-label" for="forceAtlases">Force texture atlases</label>
            </div>

            <button type="button" class="btn btn-primary" id="build">Generate</button>
        </div>
    </div>
</div>
