---
title: Pointcloud from IGN Lidar HD
shortdesc: Display a subset of the Lidar HD dataset colorized with WMS imagery, converted with py3dtiles
longdesc: Giro3D is capable of displaying large point clouds. Lidar data can be converted into 3D Tiles using <a target="_blank" href="https://oslandia.gitlab.io/py3dtiles/">py3dtiles</a>
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
---
