---
title: Stacking transparent maps
shortdesc: Illustrates how transparency in maps work.
longdesc: Transparency in maps (and any other 3D object) is a tricky problem. Due to limitations in how 3D renderers work, it is not generally possible to correctly display overlapping transparent objects. For example, set the opacity of at least 2 maps to less than 100%, rotate the camera around, and observe various rendering issues, such as missing map tiles.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>, © <a href="http://www.itowns-project.org/">iTowns</a>
dependencies: ['colormap']
---

<div class="side-pane-with-status-bar">
    <div class="mh-100 overflow-y-auto">
        <!-- Vector map -->
        <div class="card mb-1">
            <div class="card-header">
                <div class="form-check form-switch">
                    <input
                        class="form-check-input"
                        checked
                        type="checkbox"
                        role="switch"
                        id="show-vector"
                        autocomplete="off"
                    />
                    <label class="form-check-label" for="show-vector">Vector map</label>
                </div>
            </div>

            <div class="card-body" id="vector-options">
                <!-- Opacity -->
                <label for="vector-opacity" class="form-label">Map opacity</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="0"
                        step="0.01"
                        max="1"
                        value="1"
                        class="form-range"
                        id="vector-opacity"
                        autocomplete="off"
                    />
                </div>

                <!-- Opacity -->
                <label for="vector-bg-opacity" class="form-label">Background opacity</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="0"
                        step="0.01"
                        max="1"
                        value="0"
                        class="form-range"
                        id="vector-bg-opacity"
                        autocomplete="off"
                    />
                </div>
            </div>
        </div>

        <!-- Orthophoto map -->
        <div class="card mb-1">
            <div class="card-header">
                <div class="form-check form-switch">
                    <input
                        class="form-check-input"
                        checked
                        type="checkbox"
                        role="switch"
                        id="show-orthophoto"
                        autocomplete="off"
                    />
                    <label class="form-check-label" for="show-orthophoto">Orthophoto map</label>
                </div>
            </div>

            <div class="card-body" id="orthophoto-options">
                <!-- Opacity -->
                <label for="orthophoto-opacity" class="form-label">Map opacity</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="0"
                        step="0.01"
                        max="1"
                        value="1"
                        class="form-range"
                        id="orthophoto-opacity"
                        autocomplete="off"
                    />
                </div>
            </div>
        </div>

        <!-- Terrain map -->
        <div class="card mb-1">
            <div class="card-header">
                <div class="form-check form-switch">
                    <input
                        class="form-check-input"
                        checked
                        type="checkbox"
                        role="switch"
                        id="show-terrain"
                        autocomplete="off"
                    />
                    <label class="form-check-label" for="show-terrain">Terrain map</label>
                </div>
            </div>

            <div class="card-body" id="terrain-options">
                <!-- Opacity -->
                <label for="terrain-opacity" class="form-label">Map opacity</label>
                <div class="input-group">
                    <input
                        type="range"
                        min="0"
                        step="0.01"
                        max="1"
                        value="1"
                        class="form-range"
                        id="terrain-opacity"
                        autocomplete="off"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
