---
title: Elevation profile
shortdesc: Create an elevation profile using a Map and a path.
longdesc: Use the <a target="_blank" href="../apidoc/classes/entities.Map.html#getElevation"><code>getElevation()</code></a> method to sample the elevation at a given coordinate. The elevation profile chart is built with <a href="https://www.chartjs.org/" target="_blank">Chart.js</a>. Keep in mind, however, that the accuracy of the profile will depend on the currently loaded data, which in turns depend on the position of the camera. The closer the camer is to a certain point, the better the resolution will be around this point.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
dependencies: ['colormap']
---

<div class="side-pane-with-status-bar pe-none" style="width: 30rem">
    <div class="card pe-auto">
        <h5 class="card-header">Options</h5>

        <!-- tooltip -->
        <span
            class="badge bg-secondary position-absolute top-0 end-0 m-2"
            data-bs-toggle="popover"
            data-bs-content="pickingHelper"
            >?</span
        >
        <p class="card-text d-none" id="pickingHelper">
            Clik on the <b>Draw line</b> button to draw a path on the map. Use right-click to
            complete the drawing.
        </p>

        <div class="card-body p-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <!-- Parameters -->
                    <form>
                        <!-- Sample count -->
                        <div class="mb-3">
                            <label for="sampleCount" class="col-form-label">Sample count</label>
                            <div class="input-group">
                                <input
                                    id="sampleCount"
                                    type="number"
                                    min="2"
                                    max="200"
                                    value="50"
                                    class="form-control"
                                />
                                <span class="input-group-text">samples</span>
                            </div>
                        </div>

                        <!-- Start elevation profile -->
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary" id="start">
                                Draw line
                            </button>
                        </div>
                    </form>
                </li>
                <li class="list-group-item">
                    <!-- The canvas that will host the chart -->
                    <canvas id="profileChart" class="w-100 h-100"></canvas>
                </li>
            </ul>
        </div>
    </div>
</div>
