---
title: Minimap
shortdesc: Illustrates the use of a secondary Giro3D instance to display a minimap.
longdesc: You can use any number of Giro3D instance in a given page. One common use for multiple instances is to implement a minimap view, where the minimap view contains a single map with a simple, fast to load color layer. You can also synchronize the position of the minimap camera with the main view camera. In this example, the minimap view uses an orthographic camera.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
---

<div class="side-pane-with-status-bar">
    <div
        id="minimap"
        class="card m-1"
        style="
            width: 20rem;
            height: 14rem;
            overflow: hidden;
            border-radius: var(--bs-card-border-radius);
        "
    ></div>
</div>
