---
title: Mapbox tilesets
shortdesc: Display a 2.5D map with a Mapbox Terrain RGB tileset and a Mapbox satellite tileset.
longdesc: <a href="https://docs.mapbox.com/data/tilesets/reference/mapbox-terrain-rgb-v1/" target="_blank">Mapbox Terrain RGB</a> is an encoding of elevation data where 24 bits of elevation data are encoded using the 3 colors of a PNG image.
attribution: © <a target="_blank" href="https://www.mapbox.com/">Mapbox</a>
---

<div class="side-pane-with-status-bar">
    <form class="row row-cols-lg-auto g-3 align-items-center" id="mapboxApi">
        <div class="input-group">
            <input
                type="text"
                class="form-control"
                id="mapboxApiKey"
                placeholder="Custom Mapbox API key..."
            />
        </div>
    </form>
</div>
