---
title: 3D Tiles Point Cloud
shortdesc: Display a 3D Tiles point cloud.
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-body" style="max-width: 30vw; overflow: auto">
            <!-- Result table -->
            <table class="table small">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Coordinate</th>
                        <th scope="col">Distance to camera</th>
                    </tr>
                </thead>
                <tbody id="results-body">
                    <tr>
                        <th scope="row" colspan="4">Double-click on the scene for picking</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
