---
title: Query map elevations
shortdesc: Sample elevation at various points in the map.
longdesc: Use the <a target="_blank" href="../apidoc/classes/entities.Map.html#getElevation"><code>getElevation()</code></a> method to sample the elevation at a given coordinate. Each label is dynamically updated with the most precise elevation available at this location. Note that <code>getElevation()</code> only works for regions of the map that are loaded. In this example, we use the elevation data from the map to move the summit labels at the correct altitude.
attribution: Map data © <a target="_blank" href="https://www.mapbox.com/">Mapbox</a>, <a href="https://github.com/open-peaks" target="_blank">open-peaks</a>
---
