---
title: 32-bit TIFF elevation tiles
shortdesc: Display a map with TMS TIFF tiles in Float32 format.
longdesc: You can implement your own <a href="../apidoc/classes/formats.ImageFormat.html" target="_blank"><code>ImageFormat</code></a> to load images in a non-standard MIME type (by default, only PNG/JPG/WEBP tiles are loaded by Giro3D).
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
dependencies: ['@turf/turf']
---
