---
title: Types of opacity
shortdesc: Illustrates various types of opacity (map, map background, and layer)
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-body">
            <!-- Map global opacity -->
            <label for="map-opacity" class="form-label">Map opacity</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="1"
                    value="1"
                    step="0.05"
                    class="form-range"
                    id="map-opacity"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Map background opacity -->
            <label for="bg-opacity" class="form-label">Map background opacity</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="1"
                    value="1"
                    step="0.05"
                    class="form-range"
                    id="bg-opacity"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Blue layer opacity -->
            <label for="blue-opacity" class="form-label">Blue layer opacity</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="1"
                    value="1"
                    step="0.05"
                    class="form-range"
                    id="blue-opacity"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Red layer opacity -->
            <label for="red-opacity" class="form-label">Red layer opacity</label>
            <div class="input-group">
                <input
                    type="range"
                    min="0"
                    max="1"
                    value="1"
                    step="0.05"
                    class="form-range"
                    id="red-opacity"
                    autocomplete="off"
                />
            </div>
        </div>
    </div>
</div>
