<div id="example-card-<%= example.id %>" class="col-md-4 col-sm-6">
    <div class="card text-bg-light mb-3 shadow-sm" style="height: 400px">
        <a href="<%= example.name %>.html" class="stretched-link">
            <img
                src="screenshots/<%= example.name %>.jpg"
                class="card-img-top"
                alt="<%= example.name %> example thumbnail"
            />
        </a>
        <div class="card-body">
            <h6 class="card-title" id="example-title-<%= example.id %>"><%- example.title %></h6>
            <p class="card-text text-muted fs-6" id="example-desc-<%= example.id %>">
                <%- example.description %>
            </p>
        </div>
    </div>
</div>
